footer {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-for-footer-and-next-page{
  position: absolute;
  top: 50%;
  right: 11%;
  transform: translateY(-50%);
}
.title-for-footer-and-next-page p{
  color: #D9A867;
  font-weight: 700;
}

.title-for-footer-and-next-page h3{
  color: white;
  margin-top: 5px;
}

.one-buttons-for-header {
  padding: 9px 20px 9px 30px;
  background-color: white;
  color: #005491;
  border: none;
  font-weight: 600 !important;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease !important;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-buttons-for-header .span-for-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-left: 25px;
  background-color: white;
  transition: 0.3s ease;
}
.one-buttons-for-header .span-for-icon-button {
  background-color: #f6f6f6;
}
.one-buttons-for-header:nth-child(2) {
  background-color: #d9a867;
  color: white;
}
.one-buttons-for-header:nth-child(2) .span-for-icon-button {
  background-color: #d9a867;
  color: white;
}
.one-buttons-for-header:nth-child(2) {
  transition: 0.3s ease;

  background-color: #c6822a1a;
  color: #c6822a;
}
.one-buttons-for-header:nth-child(2) .span-for-icon-button {
  transition: 0.3s ease;
  background-color: #ffffff;
}

.one-buttons-for-header img {
  width: 20px;
}

.one-buttons-for-header:focus {
  outline: none;
}
@media screen and (max-width: 992px) {
  .one-buttons-for-header {
    margin-right: 20px;
    margin-top: 10px;
  }
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 152px;
  width: 100%;
  background-color: white;
}
