/* header */

/* Initial Header Styles */
header {
  padding: 0px 50px;
  z-index: 9999999999999;
  position: fixed;
  top: 0;
  right: 0;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  transition: background-color 0.5s ease, color 0.5s ease; /* Add transition for smooth change */
}

header.scrolled {
  background-color: white; /* New background color when scrolled */
}

header .navbar-brand img {
  width: 205px;
  transition: opacity 0.5s ease; /* Smooth transition for the logo change */
}

/* Button styles */

.for-all-buttons {
  width: fit-content !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.one-buttons-for-header {
  padding: 9px 20px 9px 30px;
  background-color: white;
  color: #005491;
  border: none;
  font-weight: 600 !important;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease !important;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .one-buttons-for-header .span-for-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-left: 25px;
  background-color: white;
  transition: 0.3s ease;
}
header.scrolled .one-buttons-for-header .span-for-icon-button {
  background-color: #f6f6f6;
}
header .one-buttons-for-header:nth-child(2) {
  background-color: #d9a867;
  color: white;
}
header .one-buttons-for-header:nth-child(2) .span-for-icon-button {
  background-color: #d9a867;
  color: white;
}
header.scrolled .one-buttons-for-header:nth-child(2) {
  transition: 0.3s ease;

  background-color: #c6822a1a;
  color: #c6822a;
}
header.scrolled .one-buttons-for-header:nth-child(2) .span-for-icon-button {
  transition: 0.3s ease;
  background-color: #ffffff;
}

.one-buttons-for-header img {
  width: 20px;
}

.one-buttons-for-header:focus {
  outline: none;
}

.delete-for-pc {
  display: none;
}

@media screen and (max-width: 992px) {
  .one-buttons-for-header {
    margin-right: 20px;
    margin-top: 10px;
  }
  header {
    padding: 0px 0px;
  }
  .delete-for-pc {
    display: block !important;
  }
  .delete-for-mobile {
    display: none;
  }
  .one-buttons-for-header:nth-child(2) {
    transition: 0.3s ease;
    background-color: #C6822A !important; 
    color: #c6822a;
  }
  .one-buttons-for-header:nth-child(2) {
    background-color: #d9a867;
    color: white !important;
  }
}

/* Styles for Button Changes */
