body {
  background-color: #ebeff8;
}
.div-for-color {
  background-color: #ebeff8;
  z-index: 9999 !important;
}
.container {
  background-color: #ebeff8 !important;
  z-index: 999;
}

.div-for-color {
  position: absolute;
  top: 100vh; /* Initially placed below the viewport */
  left: 0;
  width: 100%;
  transition: top 0.5s ease-out, position 0.5s ease-out;
  z-index: 2;
}

.home {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1 !important;
  width: 100%;
  height: 100%;
}
.Img-home {
  height: 100%;
  width: 100%;
}
.box-home-section {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%) !important;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  text-align: right;
  margin-top: 100px;
  z-index: 999999999999999 !important;
}
.box-home-section a {
  background-color: #c6822a;
  padding: 16px 25px;
  color: white;
  width: fit-content;
  border-radius: 5000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  font-family: cairo;
  margin-top: 30px;
}
.box-home-section a img {
  width: 35px;
  height: 35px;
  margin-right: 60px;
}

.box-home-section h1 {
  font-weight: 700;
  color: white;
  font-size: 75px;
  line-height: 90px;
}
.box-home-section h2 {
  color: #062e4a;
  font-size: 35px;
  margin-top: 10px;
}
#annualBtnEn{
  display: none;
}

body[lang="en"] {
  .Img-home {
    -webkit-transform: scaleX(-1); /* to reverse arrow */
    transform: scaleX(-1);
  }
  .box-home-section {
    top: 50%;
    left: 4%;
    align-items: left;
    text-align: left;
  }
  .box-home-section a img {
    margin-right: 0px;
    margin-left: 60px;
  }
  #annualBtnAr{
  display: none;
  }
  #annualBtnEn{
    display:flex;
  }
}

/* End Home */

.chart-and-boxes {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  flex-wrap: wrap; /* for mobile */
}

.chart-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  background-color: white;
  width: 59%;
  position: relative;
}

.boxes-one {
  padding: 30px 50px;
  width: 39%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxes-one h2 {
  text-align: center;
  color: #c6822a;
}
.boxes-one p {
  margin-top: 15px;
  text-align: center;
  color: #163029;
  font-size: 15px;
}

.three-boxes-m {
  margin-top: 40px;
  width: 100%;
}
.one-small-box {
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  margin-bottom: 15px;
  font-weight: 700;
  width: 100%;
  min-width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebeff8;
  font-size: 20px;
  color: #3a73a8;
}

.one-small-box span:first-child {
  font-size: 22px;
  margin-left: 10px;
  font-weight: 800;
}

body[lang="en"] {
  .one-small-box span:first-child {
    margin-left: 0px;
    margin-right: 10px;
  }
}

/* Slider */

.slider-container {
  overflow: hidden;
  position: relative;
  /* background-color: red; */
  width: 100%;
}
.slider-card-connect {
  margin-top: 20px;
  width: 100%;
  min-height: 50vh;
  /* background-color: #162c51; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0px 0px 0px !important;
}

.controls {
  /* background-color: red; */
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translateX(0%);
  transform: translateY(-50%) !important;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.controls button {
  outline: none;
  background-color: #3a73a8;
  width: 65px;
  height: 65px;
  border-radius: 500px;
  cursor: pointer;
  margin: 25px 0px;
  border: none;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.controls button svg {
  width: 30px;
  height: 30px;
  fill: white;
  transition: 0.3s ease;
}

.controls button.active {
  background-color: #3a73a8; /* Green background for active state */
}

.controls button.inactive {
  background-color: #2c4a71; /* Gray background for inactive state */
  cursor: not-allowed; /* Change cursor to not-allowed when inactive */
}

.controls button.inactive svg {
  fill: #ffffff;
  opacity: 0.2;
}

.wrapper .outer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}
.wrapper .outer .card {
  /* margin-right: 40px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

body[lang="en"] {
  .controls {
    top: 26%;
    left: 8% !important;
  }
  .wrapper .outer .card .content .details {
    margin-right: 0px;
    margin-left: 40px;
  }
  .wrapper .outer .card {
    margin-right: 0px;
    margin-left: 40px;
  }
}

.wrapper .outer:hover .card {
  animation-play-state: paused;
}

.wrapper .outer .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

.wrapper .outer .card:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
}
.wrapper .outer .card .content {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px 130px 15px 130px;
}
.card .content .box-for-slide {
  min-height: 90px;
  min-width: 190px;
  background: #c6822a !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.wrapper .outer .card .content .box-for-slide h1 {
  color: white;
  font-size: 27px;
}

.wrapper .outer .card .content .details {
  margin-right: 20px;
}

.wrapper .outer .card .content .details p {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}

body[lang="ar"] {
  /* @media screen and (max-width: 992px) {
    .wrapper .outer .card {
      margin-right: 0px;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .controls {
      width: fit-content;
      position: absolute;
      top: 90%;
      right: 22%;
      width: fit-content;
      z-index: 99;
      background-color: #162c51;
      transform: translateY(-50%);
      display: flex;
      flex-direction: initial;

      padding: 10px 0px;
    }
    .controls button {
      margin: 0px 10px;
    }
    .slider-card-connect {
      border-top: 2px dashed #c0c0c0;
      width: 100%;
      min-height: 70vh;
      background-color: #162c51;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px !important;
    }
    .wrapper .outer {
      margin-top: 0px;
      overflow: hidden !important;
    }

    .outer .card {
      transform: translateY(
        0
      ) !important; 
    }

    .outer .card {
      opacity: 0;
      pointer-events: none;
      margin-top: -20px;
    }

    .outer .card:nth-child(n + 2) {
      display: none; 
    }

    .outer .card:first-child {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    .wrapper .outer .card .content {
      height: 460px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      right: 0;
      left: 0;
      margin: 0px !important;
    }
    .card .content .box-for-slide {
      min-height: 150px;
      min-width: 150px;
      background: #016aab !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      border-radius: 5px;
    }

    .outer {
      background-color: darkcyan;
      overflow: hidden;
    }

    .wrapper .outer .card .content .box-for-slide h1 {
      color: #fcdc48;
      font-size: 40px;
    }

    .wrapper .outer .card .content .details {
      margin-right: 0px;
    }

    .wrapper .outer .card .content .details p {
      font-size: 18px;
      color: white;
      text-align: center;
      margin-top: 15px;
    }
  } */

  @media screen and (max-width: 992px) {
    .slider-card-connect {
      margin-top: 80px;
      width: 100%;
      min-height: 40vh;
    }
    .controls{
    top: 45%;
    right: unset;
    transform: rotateZ(90deg) !important;
    /* transform: rotateZ(0.75turn); */
    }

    .wrapper .outer .card .content {
      display: block;
      /* min-height: 200px; */
      padding: 0px 0px 50px 0px;
    }   

    .card .content .box-for-slide {
    min-height: 80px;
    margin-bottom: 20px;
    }
  }
}
body[lang="en"] {
  /* slider */
  .slider-card-connect {
    margin-top: 20px;
    width: 100%;
    min-height: 50vh;
    /* background-color: #162c51; */
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    padding: 80px 0px 0px 0px !important;
  }
  .controls {
    /* background-color: red; */
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateX(0%);
    transform: translateY(-50%) !important;
    display: flex;
    flex-direction: column;
    z-index: 9;
   
  }

  .card-phone {
    padding: 0px 0px 0px 220px; /* fixes order */
  }
  .card-phone img {
    transform: translate(-240%, -50%) rotate(-45deg);
  }


  .card-text span {
    margin-left: 0px;
    margin-right: 3px;
  }

  .map-img {
    top: -20%;
    left: 30%;
    transform: translate(40%, -30%);
    /* changed this to reverse image location */
  }

  .one-cards {
    padding: 30px 30px 30px 80px; /*k decrease to fit content*/
  }

  /* nine cards */
  .nine-cards .one-card-from-nine p {
    margin-left: 20px; /* changed to left */
  }
  /* nine cards ends */

  .a-small-word {
    padding: 10px 100px 10px 30px;
    clip-path: polygon(90% 0%, 0% 0%, 0% 100%, 100% 100%);
  }

  .tr-two {
    top: -22%;
    left: 27%;
    transform: translateY(50%);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  .tr {
    clip-path: polygon(100% 50%, 0% 100%, 0% 0%);
    left: 0%;
  }
  .wrapper .outer .card .content {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px 20px 15px 160px;
  }
  @media (max-width: 1024px) {
    .slider-card-connect { 
      padding: 80px 0px 0px 0px !important;
    }
  }

  @media screen and (max-width: 992px) {
    .slider-card-connect {
      margin-top: 80px;
      width: 100%;
      min-height: 30vh;
      
    }
    .controls{
    top: 45%;
    right: unset;
    left: unset !important;
    transform: rotateZ(0.75turn) !important;
    }

    .wrapper .outer .card {
        margin-right: 0px;
        margin-left: 0px;
    }
 

    .card .content .box-for-slide {
    min-height: 80px;
    margin-bottom: 20px;
    }
    .wrapper .outer .card .content {
      display: block;
      /* min-height: 200px; */
      padding: 0px 0px 50px 0px;
        margin-right: 0px;
        margin-left: 0px;
    }  
        .wrapper .outer .card .content .details {
        margin-right: 20px;
        margin-left: 20px;
    }
  }

  @media (max-width: 768px) {
  .boxes-one {
    width: 100%;
    padding: 20px;
  }
  .card-phone img {
    height: 200px;
    left: 0%;
  }
  .tr-two {
    left: 54%;   
  }
  .map-img { 
    left: unset;         
    transform: none;
   top: unset;
  }
  
     }
        @media (max-width: 480px) {
          .card-phone {
            padding: 0;
          }
    
          .card-phone img {
            height: 200px;
            left: 0%;
            transform: translate(0%, 0%) rotate(-45deg);
          }         
          .one-cards { 
            padding: 50px 50px 50px 50px;
          }
          .a-small-word {
            padding: 10px 30px 10px 30px;
            clip-path: polygon(80% 0%, 0% 0%, 0% 100%, 100% 100%);
          }
          .tr-two {
            top: -30%;
        left: 46%; 
          }
        }
}
/* slider ends */

/* card-phone */
.cards-phone-and-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 250px;
  margin-top: 65px;
  margin-bottom: 80px;
}

.card-phone {
  width: 69%;
  background-color: white;
  border-top: 10px solid #6b95bd;
  height: 100%;
  display: flex;
  position: relative;
  padding: 0px 200px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-phone img {
  height: 320px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-30%, -50%);
}

.card-phone h3 span {
  color: #3a73a8;
  font-size: 25px;
  font-weight: 700;
  line-height: 46.85px;
  text-align: right;
}

.card-text {
  height: 100%;
  align-items: stretch;
  width: 29%;
  background-color: #062e4a;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.card-text h3 {
  font-size: 25px;
  font-weight: 800 !important;
}
.card-text span {
  font-size: 50px;
  margin-left: 3px;
  font-weight: 800 !important;
}
.card-text div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  margin: 5px 0px;
}
.card-text p {
  font-size: 20px;
  font-weight: 300;
}
/* card-phone ends*/

/* map */

.map {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-top: 10px solid #6b95bd;
  background-color: white;
  margin-top: 200px;
}
.map .header-for-map {
  width: 100%;
  padding: 100px 200px;
  position: relative;
}
.map .header-for-map {
  display: flex;
}
.map .header-for-map h1 {
  margin-left: 15px;
  font-size: 55px;
}
.map-img {
  padding: 15px;
  width: 480px;
  height: 400px;
  background-color: #3a73a8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20%;
  left: 30%;
  transform: translate(-50%, -20%);
}
.map-img img {
  height: 100%;
}

.one-container-for-boxes-map {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  padding: 50px 100px 50px 70px;
}
.one-small-card-for-map {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}
.one-box-for-smal-boxes {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  margin-top: 15px;
}
.small-box-for-info {
  display: flex;
}
.title-for-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 0px 0px;
  height: 100%;
}
.title-for-box p {
  font-weight: 700 !important;
  transform: rotate(-90deg);
  font-size: 12px;
}
.flex-locations-under {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}
.box-for-locations {
  padding: 0px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.box-for-locations:last-child {
  margin-bottom: 0px;
}
.box-for-locations p {
  width: 100%;
  font-weight: 700;
  margin-bottom: 5px;
}
.box-for-locations p:first-child {
  color: #c6822a;
}
.box-for-locations p:last-child {
  font-size: 14px;
  color: black;
}

/* four-cards */

.four-cards {
  justify-content: space-between;
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 105px;
  /* background-color: red; */
}
.four-cards .one-title-for-four-cards {
  position: absolute;
  top: -25%;
  right: 50%;
  transform: translateX(50%);
  /* background-color: red; */
  width: 35%;
  min-height: 80px;
  height: fit-content;
  background-color: #062e4a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.four-cards .one-title-for-four-cards p {
  color: white;
  font-weight: 700;
  font-size: 19px;
}

.one-cards {
  border-top: 8px solid;
  width: 24.8%;
  min-height: 200px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 50px 50px 50px 80px;
}

.one-cards p {
  color: #666666;
  font-weight: 700;
}
.tr {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  background-color: #ebeff8;
  width: 25px;
  height: 25px;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

/* four-cards End */

/* nine cards */

.nine-cards {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top: 50px;
}
.nine-cards .one-card-from-nine {
  width: 32.5%;
  margin-bottom: 23px;
  min-height: 100px;
  background-color: white;
  padding: 30px;
  display: flex;
  align-items: center;
}
.logo-div {
  min-width: 90px;
  min-height: 90px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.logo-div img {
  width: 100%;
}

.nine-cards .one-card-from-nine p {
  color: #333333;
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* nine cards ends */

/* A word */

.a-small-word {
  width: fit-content;
  padding: 10px 30px 10px 100px;
  background-color: #062e4a;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  z-index: 1;
}

.a-small-word p {
  font-weight: 700;
  font-size: 25px;
  color: #b5cadd;
  position: relative;
  top: 5px;
}

.a-big-word {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #062e4a;
  width: 100%;
  min-height: 230px;
  margin-top: -1px;
  position: relative;
  font-size: 30px;
  font-weight: 700;
}

.tr-two {
  width: 35px;
  height: 25px;
  position: absolute;
  top: -22%;
  right: 23%;
  transform: translateY(50%);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background-color: #d9a867;
  z-index: 2;
}
.a-big-word div {
  margin-bottom: 15px;
}
.a-big-word div p {
  font-size: 35px;
}

@media (max-width: 1024px) {
  .chart-one {
    width: 100%; /* Full width on tablets */
    min-height: 300px;
  }
  .boxes-one {
    width: 100%; /* Stack below the chart */
    padding: 20px 30px;
  }
  .card-phone img {
    transform: translate(-0%, -50%);
  }
  .map-img {
    width: 40%;
   height: auto;
  }
  .map-img img {
    width: 100%;
    height: auto;
  }
  .map .header-for-map {
    padding: 150px 100px 0px;
  }
  .tr-two {
    right: 34%;
  }
}

@media (max-width: 768px) {
  .boxes-one {
    width: 100%;
    padding: 20px;
  }

  .three-boxes-m {
    display: flex;
    flex-direction: column; /* Stack the small boxes vertically */
  }

  .one-small-box {
    font-size: 18px; /* Adjust font size for readability */
  }

  .one-small-box span:first-child {
    font-size: 20px;
    margin-left: 5px; /* Reduce margin on smaller screens */
  }
  .cards-phone-and-text {
    flex-direction: column;
    height: auto;
  }

  .card-phone,
  .card-text {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .card-phone {
    padding: 0 50px;
  }

  .card-phone img {
    height: 200px;
    transform: translate(-15%, -50%);
  }

  .card-phone h3 span {
    font-size: 20px;
  }

  .card-text h3 {
    font-size: 20px;
  }

  .card-text span {
    font-size: 40px;
  }

  .card-text div {
    font-size: 35px;
  }

  .card-text p {
    font-size: 16px;
  }
  .map {
    margin-top: 50px;
  }

  .map .header-for-map {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .map .header-for-map h1 {
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 10px;
    /* padding-top: 300px */
  }
  .map .header-for-map h1:nth-child(1) {
    padding-top: 350px;
  }

  .map-img {
    width: 60%;
    height: auto;
    top: unset;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
  }

  .map-img img {
    width: 100%;
    height: auto;
  }

  .one-container-for-boxes-map {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .one-small-card-for-map {
    width: 90%;
    margin-bottom: 20px;
  }

  .one-box-for-smal-boxes {
    margin-top: 10px;
  }

  .small-box-for-info {
    flex-direction: column;
  }

  .title-for-box {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  .title-for-box p {
    transform: rotate(0);
    font-size: 14px;
    text-align: center;
  }

  .flex-locations-under {
    padding: 10px;
  }
  #riyadh-branches{
    margin-top: -40px;

  }

  .box-for-locations {
    margin-bottom: 10px;
  }

  .box-for-locations p {
    font-size: 14px;
  }
  .four-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .four-cards .one-title-for-four-cards {
    position: relative;
    top: 0;
    right: 0;
    transform: none;
    width: 70%;
    margin-bottom: 20px;
  }

  .one-cards {
    width: 90%;
    padding: 40px 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .tr {
    top: 50%;
    /* right: %; */
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    width: 40px;
    height: 40px;
  }
  .one-cards p {
    color: #666666;
    font-weight: 700;
    text-align: center;
  }
  .nine-cards {
    justify-content: center;
    gap: 20px;
  }

  .nine-cards .one-card-from-nine {
    width: 48%;
    min-height: 100px;
    /* padding: 20px; */
    margin-bottom: 2px;
  }

  .logo-div {
    min-width: 70px;
    min-height: 70px;
    width: 70px;
    height: 70px;
    padding: 15px;
  }

  .nine-cards .one-card-from-nine p {
    font-size: 18px;
    margin-right: 15px;
  }
  .tr-two {
    width: 35px;
    height: 25px;
    position: absolute;
    top: -22%;
    right: 46%;
    transform: translateY(50%);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #d9a867;
    z-index: 2;
  }

  #riyadh2{
    display: none;
  }
}

/*Mobile*/

@media (max-width: 480px) {
  .chart-one {
    min-height: 200px;
    margin-bottom: 20px;
  }

  .one-small-box {
    font-size: 16px;
    padding: 10px;
  }

  .one-small-box span:first-child {
    font-size: 18px;
    margin-left: 3px;
  }
  .cards-phone-and-text {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .card-phone {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-phone img {
    position: static;
    height: 200px;
    transform: translate(20%, 0%);
    margin-right: 30px;
    padding-top: 25px;
  }

  .card-phone h3 {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 20px;
    /* width: 100%; */
  }

  .card-text {
    width: 100%;
    margin-top: 20px;
    padding: 25px 0px 25px 0px;
  }

  .card-text h3 {
    font-size: 20px;
  }

  .card-text span {
    font-size: 30px;
  }

  .card-text div {
    font-size: 30px;
  }

  .card-text p {
    font-size: 16px;
  }
  .map {
    margin-top: 30px;
  }

  .map .header-for-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .map-img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    order: -1;
    position: relative;
    left: unset;
    top: unset;
    transform: none;
  }

  .map-img img {
    width: 100%;
    height: auto;
  }

  .map .header-for-map h1 {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
  }

  .map .header-for-map h1:nth-child(1) {
    padding-top: 20px;
  }

  /* Content below the image */
  .one-container-for-boxes-map {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .one-small-card-for-map {
    width: 100%;
    margin-bottom: 15px;
  }

  .title-for-box {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .small-box-for-info{
    width: 100%;
  }

  .flex-locations-under {
    padding: 0;
    
  }
    #riyadh-branches{
    margin-top: -20px;

  }

  .box-for-locations p {
    font-size: 12px;
  }
  .tr {
    top: 50%;
    /* right: %; */
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    width: 30px;
    height: 30px;
  }
  .nine-cards {
    flex-direction: column;
    align-items: center;
  }

  .nine-cards .one-card-from-nine {
    width: 90%;
    min-height: 80px;
    padding: 15px;
    margin-bottom: 0px;
    text-align: center;
    flex-direction: column;
  }

  .logo-div {
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    padding: 10px;
  }

  .nine-cards .one-card-from-nine p {
    font-size: 16px;
    margin-right: 0;
    margin-top: 10px;
    text-align: center;
  }

  .a-small-word {
    width: 60%;
    padding: 10px 30px 10px 100px;
    background-color: #062e4a;
    clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0 100%);
    position: relative;
    z-index: 1;
  }

  .a-small-word p {
    font-weight: 700;
    font-size: 25px;
    color: #b5cadd;
    position: relative;
    top: 5px;
  }

  .a-big-word {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #062e4a;
    width: 100%;
    min-height: 230px;
    margin-top: -1px;
    position: relative;
    font-size: 30px;
    font-weight: 700;
  }

  .tr-two {
    width: 50px;
    height: 40px;
    position: absolute;
    top: -30%;
    right: 45%;
    transform: translateY(50%);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #d9a867;
    z-index: 2;
  }
  .a-big-word div {
    margin-bottom: 15px;
  }
      .a-big-word div p {
        font-size: 29px;
    }
}
