/* النموذج التشغيلي */
.nine-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.one-card {
  width: 30%;
  height: 135px;
  margin-bottom: 25px;
  background-color: white;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-top-width: 8px;
  border-top-style: solid;
}

.logo-div {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: -25px;
  right: 0px;
}

.one-card p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 30px;
}

.flex-row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.text-block {
  margin-top: 20px;
}

.title-with-arrow {
  font-size: 22px;
  font-weight: bold;
}

/* الاداء التشغيلي */
#revenue-share-table {
  padding: 20px;
  border-radius: 10px;
}

.table-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #062e4a;
  margin-bottom: 20px;
}

.revenue-table {
  width: 100%;
  border-collapse: collapse;
  direction: rtl;
}

.revenue-table th {
  background-color: #062e4a;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}
.thBorders {
  border-right: 1px solid #b5cadd;
  border-left: 1px solid #b5cadd;
}
.thBorders2 {
  border-right: 1px solid #b5cadd;
}
.revenue-table td {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ddd;
}
.tdBold {
  font-weight: bold;
}
.revenue-table tbody tr:nth-child(1),
.revenue-table tbody tr:nth-child(2) {
  background-color: white;
}

.total-row {
  background-color: #efdabe;
}

.footnote {
  margin-top: 10px;
  font-size: 12px;
  text-align: left;
  color: #333;
  font-style: italic;
}

/* الاهداف التشغيلية */
#card-grid {
  padding: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  text-align: right;
  direction: rtl;
}

.card {
  background-color: white;
  padding: 20px 30px 0px 0px;
  position: relative;
  overflow: hidden;
  height: 180px;
}

.card::before {
  content: "";
  position: absolute;
  right: 0;
  top: 18%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ebeff8dd;
}

.card h3 {
  color: #3a73a8;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card::before {
    border-right: 15px solid #c7cdd8;
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .card::before {
    border-right: 10px solid #c7cdd8;
  }
}


/*الموارد البشرية*/

.charts{
    position: relative;
    margin-top: 60px;
}

.header {
    background-color: #C88D48; 
    color: #fff; 
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 40%;
        position: absolute;
    right: 32%;
    top: -8%;
    margin: 0 auto 20px auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.employees {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px auto;
    flex-wrap: wrap; 
}

.year-chart {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.year-title1 {
    font-size: 14px;
    text-align: center;
        margin-top: 50px;

}

.year-title2{
        font-size: 50px;
    font-weight: bold;
        text-align: center;
            margin: 5px auto 30px auto;

}

.chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.chart img {
    width: 100%;
    height: auto;
}

.chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.legend {
    margin-top: 20px;
}

.legend-item {
    margin-bottom: 10px;
    font-size: 14px;
}

.color-block {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    vertical-align: middle;
}

.saudi {
    background-color: #C88D48; 
}

.non-saudi {
    background-color: #517EA4;
}
