/*مقدمة*/

#card-grid {
  padding: 35px 0px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  text-align: right;
  direction: rtl;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 0px 0px 0px;
  overflow: hidden;
  min-height: 165px;

  text-align: right;
  clip-path: polygon(89% 0%, 100% 14%, 100% 100%, 0% 100%, 0% 0%);
}

.card h3 {
  color: #3a73a8;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

/*الهيكل التنظيمي*/

.chart-container {
  position: relative;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
}

.ceo-box {
  background-color: #c6822a;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Layout for 3 columns */
.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Branch boxes */
.branch-box {
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  color: #062e4a;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.sub-branch-box {
  background-color: #f0f4fa;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  color: #062e4a;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.arrow-left,
.arrow-middle,
.arrow-right {
  position: absolute;
  width: 2px;
  background-color: #3a73a8;
}

.arrow-left {
  height: 200px;
  top: 90px;
  left: 20%;
}

.arrow-middle {
  height: 200px;
  top: 90px;
  left: 50%;
}

.arrow-right {
  height: 100px;
  top: 90px;
  left: 80%;
}

.arrow-left::after,
.arrow-middle::after,
.arrow-right::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3a73a8;
  bottom: -10px;
  left: -8px;
}



/*مجلس الادارة*/
.ownersTable table {
  margin: 50px auto 65px auto;
  width: 100%;
  border-collapse: collapse;
  direction: rtl;
}

.ownersTable th {
  background-color: #062e4a;
  color: #fff;
  font-size: 20px;
  padding: 12px;
}

.ownersTable .thBorders {
  text-align: right;
  border-right: 1px solid #b5cadd;
  border-left: 1px solid #b5cadd;
}

.ownersTable td {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 3px solid #ebeff8dd;
  border-bottom: 3px solid #ebeff8dd;
  font-weight: 700;
  padding: 20px;
}
.ownersTable td:first-child {
  text-align: center;
}
.ownersTable .thin {
  font-weight: lighter;
  color: #b5cadd;
}
.ownersTable .circle {
  position: relative;
  text-align: center;
}
.ownersTable .circle::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #d9a867;
  border-radius: 50%;
  display: inline-block;
}

.tableChanges {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}
.tableChanges th,
.tableChanges td {
  padding: 20px;
  border: 1px solid #b5cadd;
}
.tableChanges th {
  background-color: #062e4a;
  color: white;
  width: 20%;
  font-size: 18px;
  font-weight: 700;
  padding: 45px 0;
}
.tableChanges td {
  background-color: #fff;
  color: #062e4a;
  font-size: 16px;
  border-bottom: 4px solid #ebeff8dd;
}


/*مساهمونا*/
.capital-details,
.shareholder-details {
  width: 100%;
  margin: 20px auto 80px auto;
  border-collapse: collapse;
}
.table-caption{
  margin: 20px 0 10px 0;
  font-size: 19px;
}
.capital-details th,
.shareholder-details th,
.capital-details td,
.shareholder-details td {
  padding: 15px;
  border: 1px solid #b5cadd;
  text-align: center;
  font-weight: 700;
}

.capital-details th,
.shareholder-details th {
  background-color: #062e4a;
  color: white;
    padding: 25px 0;
    font-size: 22px;
  }
.capital-details td,
.shareholder-details td {
  background-color: #fff;
  padding: 20px 0;
}
.shareholder-details td:first-child {
  width: 100px;
}


.capital-details th {
  width: 50%;
}

.shareholder-details th {
  width: 20%;
}

@media (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card::before {
    border-right: 15px solid #c7cdd8;
  }
}

@media screen and (max-width: 768px) {
    .row {
    flex-direction: column;
    align-items: center;
  }

  .arrow-left,
  .arrow-middle,
  .arrow-right {
    display: none;
  }
  table th,
  table td {
    padding: 10px;
    font-size: 14px;
  }
  .card {
    width: 100%;
  }
  .tableChanges th {
    background-color: #062e4a;
    color: white;
    padding: 10px;
  }

  .tableChanges td {
    background-color: #fff;
    padding: 10px;
  }

  .tableChanges tr {
    display: block;
    border: 1px solid #b5cadd;
  }
  .table-caption{
    margin: 60px 0 10px 0;
  }
}

@media screen and (max-width: 480px) {
  table th,
  table td {
    padding: 8px;
    font-size: 12px;
  }
  .tableChanges th {
    font-size: 16px;
    padding: 8px;
  }

  .tableChanges td {
    font-size: 14px;
    padding: 8px;
  }
  .title-with-arrow {
    font-size: 18px;
  }

  .flex-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-div {
    width: 50px;
    height: 50px;
    font-size: 14px;
  }
  .card-grid {
    grid-template-columns: 1fr;
  }

  .card::before {
    border-right: 10px solid #c7cdd8;
  }
  .card-date {
    font-size: 14px;
  }

  .card-content p {
    font-size: 14px;
  }
}
