/* Six Cards */
.Six-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
  gap: 12px;
  margin-top: 50px;
  text-align: center;
}

.Six-cards .card-6 {
  background-color: white;
  padding: 20px 50px;
  text-align: center; /* Ensures text is aligned to the right */
  height: 275px;
  /* clip-path: polygon(93% 0%,100% 10%,100% 100%,0% 100%,0% 0%); */
}

.Six-cards h3 {
  font-size: 60px;
  color: #c6822a;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 40px;
}

.Six-cards p {
  font-size: 20px;
  color: #333333;
  line-height: 30px;
  font-weight: 700;
}

/* Six Cards Ends*/

/* Charts */

.chart-container-for-bg {
  margin-top: 50px;
  background-color: white;
}

.chart-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transform: translateY(20px); /* Optional for smooth reveal */
}

/* Show the chart with animation when it enters the viewport */
.chart-container.animate-bars {
  opacity: 1;
  transform: translateY(0);
}

/* Bar chart animation */
.bar-chart .bar {
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 3s ease;
}

/* Animate the bars when in view */
.chart-container.animate-bars .bar {
  transform: scaleY(1);
}

/* Line chart drawing effect for LTR (English) */
body[lang="en"] .line-chart {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000; /* Start from the right */
  transition: stroke-dashoffset 3s ease; /* Adjust duration as needed */
}

/* Animate the line drawing from left to right when in view (LTR) */
body[lang="en"] .chart-container.animate-line .line-chart {
  stroke-dashoffset: 0;
}

/* Line chart drawing effect for RTL (Arabic) */
body[lang="ar"] .line-chart {
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000; /* Start from the left */
  transition: stroke-dashoffset 3s ease; /* Adjust duration as needed */
}

/* Animate the line drawing from right to left when in view (RTL) */
body[lang="ar"] .chart-container.animate-line .line-chart {
  stroke-dashoffset: 0;
}

.chart1-1,
.chart2-2,
.chart3-3,
.chart4-4 {
  width: 100%;
  height: 600px; /* Adjust the height as needed */
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto; /* Remove fixed height */
  aspect-ratio: 2 / 1; /* Aspect ratio for charts, adjust if needed */
}

/* Charts Ends*/
