.title-and-card {
  margin-top: 250px;
}

.big-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  margin-top: 50px;
  padding: 50px 100px;
}
.big-card .one-side {
  width: 50%;
  height: 100%;
  background-color: red;
}
.big-card .one-side h3 {
  color: #3a73a8;
}
.margin-for-all-divs {
  margin-top: 20px;
}
.margin-for-all-divs div {
  margin-bottom: 20px;
}
.margin-for-all-divs div p {
  color: #163029;
}
.margin-for-all-divs div a {
  color: #163029;
}
