.title-and-card {
  margin-top: 250px;
}

.big-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  margin-top: 50px;
  padding: 100px 100px;
}
.big-card .one-side {
  width: 60%;
  height: 100%;
}

.big-card .one-side:last-child {
  width: 40%;
}

.big-card .one-side h3 {
  color: #3a73a8;
}

.big-card .one-side:last-child h3 {
  margin-bottom: 20px;
}
.big-card .one-side:last-child h3:nth-of-type(2) {
  margin-top: 20px;
}

.margin-for-all-divs {
  margin-top: 20px;
}
.margin-for-all-divs div {
  margin-bottom: 20px;
}
.margin-for-all-divs div p {
  color: #163029;
}
.margin-for-all-divs div a {
  color: #163029;
}
.store {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}
.store img {
  width: 300px;
}

.div-for-icons {
  display: flex;
}
.div-for-icons a {
  border-radius: 50px;
  margin-left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #062e4a;
  width: 53px;
  height: 53px;
}
.div-for-icons img {
  height: 22px;
}


