.container-for-center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start !important;
  flex-wrap: wrap;
  margin-top: 250px;
}

.container-for-center h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.section {
  height: fit-content;
  max-height: fit-content !important;
  width: 32%;
  margin-top: 40px;
}

.section-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-item {
  font-size: 20px;
  margin-bottom: 5px;
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #ffffff;
}

.button-for-footer {
  font-family: "Cairo", sans-serif;
  padding: 6px 70px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 17px;
}

#download-all {
  color: white;
  background-color: #3a73a8;
}

.sub-item {
  padding: 3px 0;
}
label {
  margin-top: -5px;
  font-weight: 700;
  font-size: 17pt;
  color: #3a73a8;
}
.section-header-div {
  padding: 5px 0;
  margin-bottom: 10px;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  outline: none !important;
}

input[type="checkbox"].custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  background-color: white;
}

input[type="checkbox"].custom-checkbox:checked {
  appearance: auto;
}

.section-header {
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

.custom-checkbox input:checked + .custom-checkbox::after {
  transform: translate(-50%, -50%) scale(1);
}
.sub-item,
.section-header-div {
  display: flex;
  align-items: center;
  gap: 5px 10px !important;
  /* background-color:firebrick; */
}
.sub-item {
  gap: 5px;
  display: flex;
  align-items: center;
  color: #1d1d1d;
}
#download-selected {
  font-weight: 600;
  color: white;
  background-color: transparent;
  background-color: #c6822a;
}
#download-all {
  color: white;
}
@media (max-width: 768px) {
  .section {
    width: 95%;
  }
  .footer {
    display: grid;
  }
}

input[type="checkbox"] {
  accent-color: #005491;
}

body[lang="ar"] {
  .english-item {
    display: none;
  }
}

body[lang="en"] {
  .arabic-item {
    display: none;
  }
}
